<div class="well well-sm">
  <%= form_tag(login_path, method: :post, class: 'form-horizontal') do %>
    <fieldset>
      <legend>Please Log In</legend>
      <div class="form-group">
        <%= label_tag :email, "Email:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= text_field_tag :email, params[:email], class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :password, "Password:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= password_field_tag :password, params[:password], class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :remember_me, "Remember Me:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= check_box_tag :remember_me, params[:remember_me], class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= submit_tag "Login", class: "btn btn-default btn-primary" %>
        </div>
        <br></br>
        <div class="col-md-8 col-md-offset-2">
          <%= link_to('Forgot Password', new_password_request_path, class: "btn btn-warning") %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
