<div class="well well-sm">
  <%= form_for([:admin, @location], html: {class: 'form-horizontal'}) do |f| %>
    <%= render partial: 'shared/errors', locals: { object: @location } %>
    <fieldset>
      <legend>Enter location Details</legend>
      <div class="form-group">
        <%= f.label :address, "Address:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :default_location, "Default:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.check_box :default_location %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :closing_time, "Closing time:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.time_select :closing_time %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :opening_time, "Opening time:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.time_select :opening_time %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
