<div class = "row">
  <div class='col-md-12'>
    <h2>Listing orders</h2>
    <% #FIXME_DONE: do we need this modal -%>
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <th>User</th>
          <th>Location</th>
          <th>Placed At</th>
          <th>Pickup Time</th>
          <th>Status</th>
          <th>Contact Number</th>
          <th>Price</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.user.first_name %></td>
            <td><%= order.location.name %></td>
            <td><%= order.placed_at.to_s(:short) %></td>
            <td><%= order.pickup_time.to_s(:short) %></td>
            <td>
              <% if order.paid? %>
                <% #FIXME_DONE: order.paid? %>
                <span class="label label-success">Paid</span>
              <% elsif order.canceled? %>
                <% #FIXME_DONE: order.canceled? %>
                <span class="label label-danger">Canceled</span>
              <% elsif order.delivered? %>
                <% #FIXME_DONE: order.delivered? %>
                <span class="label label-info">Delivered</span>
              <% else %>
                <span class="label label-warning">Pending</span>
              <% end %>
            </td>
            <td><%= order.contact_number %></td>
            <td><%= number_to_currency(order.price) %></td>
            <td>
              <div class="btn-group">
              <% #FIXME_DONE: order.paid? %>
                <% if order.paid? %>
                  <%= link_to 'Deliver Order', admin_pos_deliver_path(@location, order), class: 'btn btn-warning' %>
                <% end %>
                <% #FIXME_DONE: pos controller should have a show page. like cancle %>
                <%= link_to 'Show', admin_pos_show_path(@location, order), class: 'btn btn-info' %>
                <% if order.cancelable? %>
                  <%= link_to 'Cancel', admin_pos_cancel_path(@location, order), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
