<div class="well well-sm">
  <%= form_for([:admin, @ingredient], html: {class: 'form-horizontal'}) do |f| %>
    <%= render partial: 'shared/errors', locals: { object: @ingredient } %>
    <fieldset>
      <legend>Enter ingredient Details</legend>
      <div class="form-group">
        <%= f.label :name, "Name:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :price, "Price:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :price, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :veg, "Veg", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.check_box :veg %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :can_request_extra, "Can request extra?", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.check_box :can_request_extra %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
