<% ingredient ||= @ingredient %>
<tr>
  <td><%= ingredient.id %></td>
  <td><%= ingredient.name %></td>
  <td><%= ingredient.price %></td>
  <td><%= ingredient.veg %></td>
  <td><%= ingredient.can_request_extra %></td>
  <td><%= link_to 'Show', admin_ingredient_path(ingredient) %>
      <%= link_to 'Inventory', admin_location_inventory_items_path(ingredient) %>
      <%= link_to 'Edit', edit_admin_ingredient_path(ingredient) %>
      <% #FIXME_AB: "Are you sure to delete ingredent "Bun"? -%>
      <%= link_to 'Destroy1', [:admin, ingredient], method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Destroy2', admin_ingredient_path(ingredient), method: :delete, data: {confirm: 'Are you sure?'} %>
  </td>
</tr>
