<div class = "row">
  <div class='col-md-12'>
    <h2>Listing orders</h2>
    <%= render partial: 'shared/modal' %>
    <table class="table table-striped table-hover" >
      <thead>
        <tr>
          <th>Location</th>
          <th>Expiry</th>
          <th>Placed At</th>
          <th>Pickup Time</th>
          <th>Status</th>
          <th>Contact Number</th>
          <th>Price</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.location.name %></td>
            <td><%= order.expiry_at %></td>
            <td><%= order.placed_at %></td>
            <td><%= order.pickup_time %></td>
            <td><%= order.status %></td>
            <td><%= order.contact_number %></td>
            <td><%= order.price %></td>
            <td><%= 'Give show button!' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
