<h3>Forgot Password</h3>
<%= render partial: 'shared/flash' %>
<%= form_tag(password_requests_path, method: :post, class: 'form-horizontal') do %>
  <fieldset>
    <legend>Please fill in your verified Email address.</legend>
    <div class="form-group">
      <%= label_tag :email, "Email:", class: "col-md-2 control-label" %>
      <div class="col-md-8">
        <%= text_field_tag :email, params[:email], class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2">
        <%= submit_tag "Submit", class: "btn btn-default btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>
