<% @location ||= location %>
<div class = "row">
  <div class='col-md-12'>
    <div class = "col-md-12">
      <div class = 'pull-left'>
      <h3><%= "Branch: #{ @location.name }" %>
      </h3>
      <h4>
        <%= "Location: #{ @location.city }, #{ @location.state }" %>
        </br>
        <%= "Timing from #{ @location.opening_time.strftime("%I:%M%p") } to #{ @location.closing_time.strftime("%I:%M%p") }." %>
      </h4>
      </div>
      <div class = 'pull-right'>
        <h3>Meals available:</h3>
        <%= form_tag(locations_path, method: "get", html: { class: 'form pull-right' } ) do %>
          <div class="form-group">
            <%= label_tag :meal_type, "Select Meal type: " %>
            <%= select_tag :meal_type, options_for_select(['All', 'Veg', 'Non-Veg'], get_meal_type_filter), onchange: ("javascript: this.form.submit();") %>
          </div>
        <% end %>
      </div>
    </div>
    <% @meals.each do |meal| %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <%= image_tag meal.image.url(:medium) %>
          <div class="caption">
            <h4 class="pull-right"><%= number_to_currency(meal.price) %></h4>
            <h4><%= meal.name %></h4>
            <% if meal.veg? %>
              <h4><span class="label label-success">Vegetarian</span></h4>
            <% else %>
              <h4><span class="label label-warning">Non-Vegetarian</span></h4>
            <% end %>
            <div class="caption">
              <h5 class='pull-left'><b>Ingredient :</b></h5>
              <% #FIXME_DONE: extract in helper meal_ingredients(meal) -%>
                <h5 class='pull-left'><%= meal_ingredients(meal) %></h5>
              <h5 class='pull-left'><%= "... "  %></h5>
            </div>
            </br>
          </div>
          <div class="btn-group">
            <p class="pull-right">
              <%= link_to 'Show', location_meal_path(@location, meal), class: 'btn btn-info' %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    </br>
  </div>
</div>
