<!DOCTYPE html>
<html>
<head>
  <title>RestaurantPos</title>
  <%= stylesheet_link_tag    'admin/admin', media: 'all' %>
  <%= javascript_include_tag 'admin/admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('Home', home_url, class: "navbar-brand") %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to('Locations', admin_locations_path) %></li>
        <li><%= link_to('Ingredients', admin_ingredients_path) %></li>
        <li><%= link_to('Meals', admin_meals_path) %></li>
        <li><%= link_to('All Orders', admin_pos_index_path(current_location.name)) %></li>
        <li><%= link_to('Reports', admin_location_reports_show_path(current_location)) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= 'Hello ' + current_user.first_name %></li>
        <li><%= link_to('Logout', logout_path, method: :delete) %></li>
      </ul>
    </div>
  </div>
</nav>
<%= render partial: 'shared/flash' %>
<div class = "container">
  <%= yield %>
</div>

</body>
</html>
