<!DOCTYPE html>
<html>
<head>
  <title>RestaurantPos</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('Home', home_url, class: "navbar-brand") %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag(change_location_path(current_location), class: 'navbar-form navbar-left'  ) do %>
          <%= label_tag :location_id, "Select location : " %>
          <%= select_tag :location_id, options_for_select(Location.all.map { |x| [x.name, x.id] }, current_location.id), onchange: ("javascript: this.form.submit();") %>
      <% end %>
      <% if signed_in? -%>
        <ul class="nav navbar-left nav-pills">
          <li><%= link_to('My Orders', user_orders_path(current_user)) %></li>
        </ul>
        <% order_size = current_order.line_items.size %>
      <% if current_order.pending? && order_size > 0 %>
        <ul class="nav navbar-left nav-pills">
          <li>
            <%= link_to user_order_path(current_user, current_order) do %>
              Order
              <span class="badge">
                <%= order_size %>
              </span>
            <% end %>
          </li>
        </ul>
      <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= 'Hello ' + current_user.first_name %></li>
          <li><%= link_to('Logout', logout_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to('Sign Up', new_user_path) %></li>
          <li><%= link_to('Login', login_path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= render partial: 'shared/flash' %>
<div class = 'container'>
  <%= yield %>
</div>
</body>
</html>
